.base {
    box-shadow: none !important;
    background-color: #2563eb !important;
    border: none !important;
    color: #fff !important;
}

.base:hover {
    background: rgb(96, 165, 250) !important;
    background: linear-gradient(45deg, rgba(96, 165, 250, 1) 0%, rgba(37, 99, 235, 1) 100%) !important;
    color: #fff !important;
}

.transaction {
    box-shadow: none !important;
    background-color: #16a34a !important;
    border: none !important;
    color: #fff !important;
}

.transaction:hover {
    background: rgb(74, 222, 128) !important;
    background: linear-gradient(90deg, rgba(74, 222, 128, 1) 0%, rgba(22, 163, 74, 1) 100%) !important;
    color: #fff !important;
}

.check {
    box-shadow: none !important;
    background-color: #14b8a6 !important;
    border: none !important;
    color: #fff !important;
}

.check:hover {
    background: rgb(94, 234, 212);
    background: linear-gradient(90deg, rgba(94, 234, 212, 1) 0%, rgba(20, 184, 166, 1) 100%);
    color: #fff !important;
}

.close {
    box-shadow: none !important;
    background-color: #172554 !important;
    border: none !important;
    color: #fff !important;
}

.close:hover {
    background: rgb(94, 234, 212);
    background: linear-gradient(90deg, rgba(94, 234, 212, 1) 0%, rgba(20, 184, 166, 1) 100%);
    color: #fff !important;
}