@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Lao:wght@400;600&family=Roboto:wght@400;700&display=swap");

@import url("../layout/customer/customer.scss");
@import url("../components/StyleToast.css");
@import url("../components/Reset.css");

html {
     font-family: "Roboto", "Noto Sans Lao", sans-serif !important;
}

.css-6j8wv5-Input:focus {
     text-decoration: none !important;
     border: 1px solid red !important;
     font-weight: 700 !important;
}

.my-table th {
     font-size: 0.875rem;
     border: 1px solid #ddd;
     color: #2D3436;
     background: #f1f1f1;
     font-weight: bold;
}

.my-table td {
     font-size: 0.875rem;
     color: #6f8085;
}

.my-table td,
tr {
     background-color: #fff;
}

.login-bg {
     background: #d3cce3;
     /* fallback for old browsers */
     background: -webkit-linear-gradient(to right, #e9e4f0, #d3cce3);
     /* Chrome 10-25, Safari 5.1-6 */
     background: linear-gradient(to right,
               #e9e4f0,
               #d3cce3);
     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btn-base {
     background: linear-gradient(99deg,
               rgba(67, 97, 244, 1) 30%,
               rgba(134, 153, 248, 1) 100%);
     box-shadow: none !important;
     font-family: 'Noto Sans Lao', sans-serif !important;
     position: relative;
     border-radius: 6px !important;
     display: flex;
     padding: 0.375rem 1rem;
     color: #fff;
     text-decoration: none;
     place-content: center;
}

.btn-cancel {
     width: 120px;
     border-radius: 6px !important;
     border: 1.5px solid #777 !important;
     color: #777 !important;
     background-color: transparent !important;
     box-shadow: none !important;
     font-family: 'Noto Sans Lao', sans-serif !important;
}

.btn-delete {
     width: 120px;
     border-radius: 6px !important;
     border: 1px solid #c4c4c4;
     background: rgb(241, 77, 88);
     background: linear-gradient(99deg,
               rgba(241, 77, 88, 1) 30%,
               rgba(237, 28, 41, 1) 100%);
     box-shadow: none !important;
     font-family: 'Noto Sans Lao', sans-serif !important;
}

.Toastify__toast--success {
     background: #f0f9fa !important;
     font-family: "Noto Sans Lao", sans-serif !important;
}

.Toastify__toast--warning {
     background: #f0f9fa !important;
     font-family: "Noto Sans Lao", sans-serif !important;
}