.Toastify__toast--success {
     background: #f0f9fa !important;
     font-family: "Noto Sans Lao", sans-serif !important;
}

.Toastify__toast--warning {
     background: #f0f9fa !important;
     font-family: "Noto Sans Lao", sans-serif !important;
}
